body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0000FF; /* Changed to blue */
    color: white;
    padding: 1em 0;
    text-align: center;
    position: relative;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    max-width: 100px;
    height: auto;
}

header h1 {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#about {
    text-align: center;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

#pet-gallery {
    margin-top: 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 3px solid #010113; /* Added border with blue color */
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin-top: 10px;
}

#contact-form input, #contact-form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

#contact-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}
